body {
  /* margin: 0; */
  padding: 0;
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

#main {
  color: red;
  background-color: #222;
  font-size: 50px;
  text-align: center;
}

.main_p {
  color: #222;
  font-size: 25px;
  text-align: justify;
  padding: 10px;
  font-family: "Dancing Script", cursive;
}

#second {
  color: green;
  background-color: yellow;
  text-align: end;
  word-wrap: break-word;
}

.second_p {
  color: yellow;
  line-height: 15px;
  font-family: "Noto Sans JP", sans-serif;
}

#third {
  color: blue;
  background-color: orange;
}
.third_p {
  color: orange;
  font-family: "Dancing Script", cursive;
}

h2:hover {
  background-color: blue;
  text-align: center;
}

#pseudo {
  background-color: #444;
}
button {
  width: 200px;
  margin-left: 400px;
}
